<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<body>
<nav class="navbar fixed-top navbar-light bg-light" position='fixed' style="margin-bottom: 10px">
  <div class="brand">
    <!-- <a href="#home"> -->
      <h2><span>F I N </span>A N C E</h2>
    <!-- </a> -->
  </div>
  <div class="label">
    <label (click)="toSearch()">
      <p>search</p>
    </label>
  </div>
</nav>
<!-- <body>
  <div class="nav-list">
    <div class="hamburger">
        <div class="bar"></div>
    </div>
    <ul>
        <li><a href="#hero" data-after="Home"><b>Home</b></a></li>
        <li><a href="#skills" data-after="skill"><b>Education</b></a></li>
        <li><a href="#projects" data-after="Projects"><b>Projects</b></a></li>
        <li><a href="#about" data-after="About"><b>About</b></a></li>
        <li><a href="#contact" data-after="Contact"><b>Contact</b></a></li>
    </ul>
</div> -->

<body class="body">
  <section id="welcomescreen">
    <div class="header container">
      <div class="nav-bar">
          <div class="brand">
              <!-- <a href="#home"> -->
                  <h1>WELCOME TO YAHOO FINANCE APP </h1>
                  <br>
                  <h5>Choose which stock to buy</h5>
              <!-- </a> -->
          </div>
      </div>
  </div>
  </section>
</body>

<!-- <body>  -->
  <body class="body">
  <section id="searchStock">
    <div class='card'>
      <div class="card-body"><br />
      
        <input (change)="onChange($event)" (keyup)="onKeyup($event)" class="form-control" type="text" placeholder="Search..." list="searchresults" autofocus/>
        <datalist id="searchresults">
          <option value="value">name</option>
        </datalist>
    

    
        <div class="form-group row" id="timeframe">
          <label class="col-sm-6 col-form-label" for="timeframe">Timeframe:</label>
          </div>

          <!-- <div class="col-sm-6">
            <select (change)="onTimeChange($event.target.value)" class="form-control form-control-sm" name="timeframe">
              <option id="{{timeframes[timeframe.id].id}}" value="{{timeframes[timeframe.id].timeframe}}" selected="{{timeframes[timeframe.id].selected}}" *ngFor="let timeframe of timeframes">{{timeframes[timeframe.id].label}}</option>
            </select>
          </div>  
        </div> -->

    
        <canvas  
          baseChart
          [chartType]="'bar'"
          [datasets]="chartData"
          [options]="chartOptions"
          [legend]="chartLegend"
          [labels]="chartLabels">
        </canvas>
    
      </div>
    </div>
    
    
  </section>
</body> 
